
<div class="most-pop">
	<h2 class="nav-cat">Most Popular</h2>
	
	<div class="top3">
		<h1>Questie</h1>
		<img src="http://i.imgur.com/qbTepxD.png" alt="img">
		<h1>Navigation/Maps</h1>
		<h1>Version: 1.12.1</h1>
		<p style="overflow:hidden;">Note that this schema.rb definition is the authoritative source for your
		# database schema</p>

	</div>

	<div class="top3">
		<h1>Questie</h1>
		<img src="http://i.imgur.com/qbTepxD.png" alt="img">
		<h1>Navigation/Maps</h1>
		<h1>Version: 1.12.1</h1>
		<p style="overflow:hidden;">Note that this schema.rb definition is the authoritative source for your
		# database schema</p>

	</div>

	<div class="top3">
		<h1>Questie</h1>
		<img src="http://i.imgur.com/qbTepxD.png" alt="img">
		<h1>Navigation/Maps</h1>
		<h1>Version: 1.12.1</h1>
		<p style="overflow:hidden;">Note that this schema.rb definition is the authoritative source for your
		# database schema</p>

	</div>
</div>

<div class="categories">

<div class="cat" style="margin-left:10px;">
<h2>Navigation/Maps</h2>
<%= link_to image_tag('map.png'), category_path(@categories.where(category_id: 1).first), class: "mapimg" %></a>
</div>


<div class="cat">
<h2>UI</h2>
<%= image_tag "UI.png", class: "uiimg" %>
</div>

<div class="cat">
<h2>Auction House</h2>
<%= image_tag "ah.png", class: "ahimg" %>
</div>

<div class="cat">
<h2>Toolbars</h2>
<%= image_tag "toolbar.png", class: "toolimg" %>
</div>

<div class="cat">
<h2>Questing</h2>
<%= image_tag "quest.png", class: "questimg" %>
</div>

<div class="cat">
<h2>Meters</h2>
<%= image_tag "meters.jpg", class: "metersimg" %>
</div>

<div class="cat">
<h2>Bags</h2>
<%= image_tag "bag.png", class: "bagimg" %>
</div>

</div>