
<div class="mainaddon">

<%= image_tag @addon.image, class: 'imageshow' %>
	<div class="desc">
	<h2><%= @addon.name %></h2>
	<%= link_to @addon.category, category_path(@addon.category_id), class: 'cateshow' %></h2><br><br>
	<%= @addon.description%><br><br>
	<%= @addon.support %><br><br>
	Views: <%= @addon.dtime %><br><br>
	File Size: <%= @addon.filesize %><br><br>
	<%= link_to "Download", @addon.downloadlink %>
	</div>
</div>



