
<div class="mainaddon">

<%= image_tag @addon.image, class: 'imageshow' %>
	<div class="desc">
	<h2 style="padding-top: 20px; margin-top: 0; font-size: 35px;"><%= @addon.name %></h2><br>
	<%= @addon.description%><br><br>
	<%= @addon.support %><br><br>
	<%= link_to "Download", "/addons/AceTimer.zip" %>
	</div>
</div>



