<!DOCTYPE html>
<html>
<head>
  <title>Vanillawow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


</head>

<body>
<header>
<%= link_to image_tag('vanlogo.png'), addons_path, class: "logo" %>
</header>

<div class="categories">

<div class="cat" style="margin-left:10px;">
<h2>Navigation/Maps</h2>
<%= link_to image_tag('map.png'), category_path(@categories.where(category_id: 1).first), class: "mapimg" %>
</div>

<div class="cat">
<h2>UI</h2>
<%= link_to image_tag("UI.png"), category_path(@categories.where(category_id: 2).first), class: "uiimg" %>
</div>

<div class="cat">
<h2>Auction</h2>
<%= link_to image_tag("ah.png"), category_path(@categories.where(category_id: 3).first), class: "ahimg" %>
</div>

<div class="cat">
<h2>Toolbars</h2>
<%= link_to image_tag("toolbar.png"), category_path(@categories.where(category_id: 4).first), class: "toolimg" %>
</div>

<div class="cat">
<h2>Questing</h2>
<%= link_to image_tag("quest.png"), category_path(@categories.where(category_id: 5).first), class: "questimg" %>
</div>

<div class="cat">
<h2>Meters</h2>
<%= link_to image_tag("meters.jpg"), category_path(@categories.where(category_id: 6).first), class: "metersimg" %>
</div>

<div class="cat">
<h2>Bags</h2>
<%= link_to image_tag("bag.png"), category_path(@categories.where(category_id: 7).first), class: "bagimg" %>
</div>

</div>

<%= yield %>
<footer>

	<%= image_tag "vanlogo.png", class: 'footlogo'%>

  <div class="social">
  	<ul class="soc">
        <li><a class="soc-twitter" href="#"></a></li>
        <li><a class="soc-instagram" href="#"></a></li>
        <li><a class="soc-email2" href="#"></a></li>
        <li><a class="soc-youtube soc-icon-last" href="#"></a></li>
    </ul>
  </div>

	<%= link_to "About", new_category_path, class: 'aboutlink' %>
</footer>
</body>
</html>
